 <section class="content-header">
    <h1>
        System upgrade
    </h1>
</section>

<section class="content">
  <div class="box col-xs-12">
    <div class="box-header">
        <h3 class="box-title">Upgrade procedures</h3>
    </div>
    <div class="box-body table-responsive">
      <div class="callout callout-danger">
          <h4>Warning</h4>
          <p>If you made any changes in application files, you must backup first before proceeding in the following upgrade procedures</p>
      </div>
      <ul>
      	<li>Download the latest version for Frelancers Group application  .</li>
      	<li>Replace your hosted application files with the new version</li>
      	<li>Adjust the folder permissions and database connection details</li>
      	<li>Go to upgrade script located in new application : Type your Application main URL followed by "/upgrade"</li>
      	<li>Follow the procedures there to upgrade your script</li>
      	<li>You done</li>
      </ul>
    </div>
  </div>
</section>
